<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="pagingExam.demo.mapper.BoardMapper">
    <resultMap type="pagingExam.demo.domain.Board" id="board">
        <id column="boardId" property="boardId"/>
        <result column="title" property="title"/>
        <result column="writer" property="writer"/>
        <result column="content" property="content"/>
        <result column="create_dt" property="createDate"/>
        <result column="view_cnt" property="viewCnt"/>
    </resultMap>

    <select id="getAllCount" resultType="int">
        select
            count(*)
        from
            board
    </select>

    <select id="selectAll" resultMap="board">
        select
            *
        from
            board
    </select>

    <select id="getById" parameterType="long" resultMap="board">
    SELECT
        *
    FROM
        board
    <where>
        id = #{value}
    </where>
    </select>

    <insert id="insert" parameterType="pagingExam.demo.domain.Board" >
        INSERT INTO
            BOARD(TITLE ,WRITER ,CONTENT ,CREATE_DT, VIEW_CNT)
        VALUES(#{title},#{writer},#{content}, #{createDate}, 0)
    </insert>

    <update id="updateById">

    </update>


    <delete id="deleteById">

    </delete>

</mapper>